<div class="container mt-5">



<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr. No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="address__of">Address</th>
      <th scope="col">Order Count</th>
      <th scope="col">Add Order</th>

    </tr>
  </thead>
  <tbody class="customer__infomations">
    

     <tr>
      <th scope="row">1</th>
      <td>Parimal Mahindrakar</td>
      <td>parimalm4653@gmail.com</td>
      <td>+91-9373739698</td>
      <td class="address__of">Flat no 402, saisamrudhi apartment, warje, Pune</td>
      <td>21</td>
      <td> <a href="#"><i class="fa-solid fa-cart-plus"></i></a> </td>
    </tr>

<tr>
      <th scope="row">1</th>
      <td>Parimal Mahindrakar</td>
      <td>parimalm4653@gmail.com</td>
      <td>+91-9373739698</td>
      <td class="address__of">Flat no 402, saisamrudhi apartment, warje, Pune</td>
      <td>21</td>
      <td> <a href="#"><i class="fa-solid fa-cart-plus"></i></a> </td>
    </tr>

<tr>
      <th scope="row">1</th>
      <td>Parimal Mahindrakar</td>
      <td>parimalm4653@gmail.com</td>
      <td>+91-9373739698</td>
      <td class="address__of">Flat no 402, saisamrudhi apartment, warje, Pune</td>
      <td>21</td>
      <td> <a href="#"><i class="fa-solid fa-cart-plus"></i></a> </td>
    </tr>

<tr>
      <th scope="row">1</th>
      <td>Parimal Mahindrakar</td>
      <td>parimalm4653@gmail.com</td>
      <td>+91-9373739698</td>
      <td class="address__of">Flat no 402, saisamrudhi apartment, warje, Pune</td>
      <td>21</td>
      <td> <a href="#"><i class="fa-solid fa-cart-plus"></i></a> </td>
    </tr>



   

    
  </tbody>
</table>

</div>